*{
    margin:0;
}
html{
    width: 100%;
    background: grey;
    color:white;
    font-size: 16px;
}
header{
    align-items: center;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
}
#container{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}
.menu{
    flex: 1 0 5rem;
    height: 100%;
    text-align: center;
}
.content{
    flex: 1 1 auto;
    height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: justify;
}
.content::-webkit-scrollbar{
    width: 0.25rem;
}
.content::-webkit-scrollbar-track{
    background: grey;
}
.content::-webkit-scrollbar-thumb{
    background: darkgrey;
}
.right{
    flex: 1 0 5rem;
    height: 100%;
}
.footer{
    height: 5rem;
    background-color: darkgrey !important;
    min-width: auto;
    text-align: center;
    line-height: 5rem;
}