*{
    margin:0;
    background: grey;
    color:white;
    font-size: 16px;
}
#container{
    display: flex;
    flex-direction: row;
}
.menu{
    text-decoration: overline;
    width: 5rem;
}
.content{
    text-align: center;
    align-content: center;
}
.right{
    text-decoration: dotted;
}